<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Growth Marketting</title>
    <link rel="stylesheet" href="../assets/css/style.css" />
    <link rel="stylesheet" href="../assets/css/responsive.css" />
    <script
      src="https://kit.fontawesome.com/9730d3b939.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="navBar">
        <div class="logo">
          <div class="logo-icon">
            <img src="/assets/images/segment.png" alt="" height="40px" />
          </div>
          <div class="logo-txt">segment</div>
        </div>
        <ul class="nav-links">
          <li>Products</li>
          <li>Pricing</li>
          <li>Docs</li>
          <li>Company</li>
        </ul>
        <div class="auth">
          <button class="btn login-btn">Log in</button>
          <button class="btn btn-primary">Sign up</button>
        </div>
        <div class="menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </nav>

      <section class="main-section">
        <nav class="section-nav">
          <ul class="section-nav-links">
            <a href="/view/index.html"
              ><li class="section-nav-link">Popular</li></a
            >
            <li class="section-nav-link">Engineering</li>
            <a href="/view/growthMarketting.html"
              ><li class="section-nav-link active">Growth Marketing</li></a
            >
            <li class="section-nav-link">Company</li>
          </ul>
          <div class="section-nav-search">
            <span><i class="fa-solid fa-magnifying-glass"></i></span>
            <input type="text" placeholder="Search" />
          </div>
        </nav>

        <section class="post-container">
          <div class="post">
            <h1 class="post-title">
              How VWO used product analytics to increase new feature adoption
              and reduce churn
            </h1>
            <div class="article-author">
              <img src="/assets/images/profile5.jpg" alt="user1" />
              <span>Nicole Nearhood on september 8th 2020</span>
            </div>
            <div class="article-excerpt">
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Excepturi unde deserunt, dignissimos veniam est minus? Cumque
                molestias, ipsum officiis eveniet vel nisi aliquid repellat
                sapiente alias iure velit, quia deserunt? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Excepturi unde deserunt,
                dignissimos veniam est minus? Cumque molestias, ipsum officiis
                eveniet vel nisi aliquid repellat sapiente alias iure velit,
                quia deserunt?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Excepturi unde deserunt, dignissimos veniam est minus? Cumque
                molestias, ipsum officiis eveniet vel nisi aliquid repellat
                sapiente alias iure velit, quia deserunt? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Excepturi unde deserunt,
                dignissimos veniam est minus? Cumque molestias, ipsum officiis
                eveniet vel nisi aliquid repellat sapiente alias iure velit,
                quia deserunt?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Excepturi unde deserunt, dignissimos veniam est minus? Cumque
                molestias, ipsum officiis eveniet vel nisi aliquid repellat
                sapiente alias iure velit, quia deserunt?
              </p>
              <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Excepturi unde deserunt, dignissimos veniam est minus? Cumque
                molestias, ipsum officiis eveniet vel nisi aliquid repellat
                sapiente alias iure velit, quia deserunt?
              </p>
            </div>
          </div>
          <div class="newsletter-container">
            <h3>Signup to out news letter</h3>
            <p>
              Get the latest article on all things data delivered straight to
              your inbox
            </p>
            <form class="newsletter-form" action="#">
              <input type="text" placeholder="Your work email" />
              <button class="btn btn-outline">Subscribe</button>
            </form>

            <span class="article-link"
              >Get a segment demo <i class="fa-solid fa-arrow-right-long"></i
            ></span>

            <hr />
            <span>Share</span>
            <hr />
            <span> Keep updated </span>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>
